{% if admin.hasAccess('delete', object) and admin.hasRoute('delete') %}
    {% if is_granted('ROLE_SUPER_ADMIN') or (not object.hasRole('ROLE_SUPER_ADMIN') and not object.hasRole('ROLE_ADMIN')) %}
        <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
            <i class="fa fa-times" aria-hidden="true"></i>
            {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
        </a>
    {% endif %}
{% endif %}
