<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Lukasz Tecza virtual trainer application. This application will help you in workouts building training plans and providing handful online automated training assistance." />
        <meta name="keywords" content="Lukasz Tecza, Łukasz Tęcza, virtual trainer, workout, training plans" />
        <meta name="author" content="Lukasz Tecza" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Virtual Trainer{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/minified.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navigation %}
            {% include 'navigation.html.twig' %}
        {% endblock navigation %}

        <div class="container">
            {% block flash %}
                {% include 'flash.html.twig' %}
            {% endblock flash %}

            {% block content %}
            {% endblock content %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/minified.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
