{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }} alert alert-{{ type }}">
                <ul>
                    <li>{{ message }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
