{% trans_default_domain 'FOSUserBundle' %}

<div class="well center-block form-authorization">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
            <input
                class="form-control"
                type="email"
                id="username"
                name="username"
                required="required"
                placeholder="{{ 'profile.show.email'|trans }}"
            />
        </div>
        <div>
            <input class="btn btn-default btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
</div>
